
/*--------------------------------------------------
# General
--------------------------------------------------*/
html,
body {
  color: #2b2626;
  font: 16px;
  font-family: "Noto Sans", Roboto, sans-serif;
  background-color: #ffffff;
}
h1 {
  font-size: 3em;
  letter-spacing: 4px;
}
h2 {
  font-size: 2.6em;
  letter-spacing: 3px;
}
h3 {
  font-size: 2.2em;
  letter-spacing: 2px;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size:1.8em;
}
h6 {
  font-size: 1.5em;
}
p {
  line-height: 1.6em;
}

/* --------------------------------------------------
Navigation Initial Mobile View
-------------------------------------------------- */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation {
  display: flex;
  position: fixed;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(69,65,64,.2);
  z-index: 2;
}
.nav-logo {
  color: #555555;
  font-size: 32px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-transform: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background-color: transparent;
}
#wiggins {
  color: #ffa500;
}
.nav-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 46px;
  background-color: transparent;
  cursor: pointer;
}
.icon-bar {
  display: block;
  position: absolute;
  right: 12px;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.icon-bar:nth-child(1) {
  top: 17px;
  background-color: #86af49;
}
.icon-bar:nth-child(2) {
  top: 25px;
  background-color: #ffa500;
}
.icon-bar:nth-child(3) {
  top: 33px;
  background-color: #c83349;
}

/* --------------------------------------------------
Navigation Menu Toggle
-------------------------------------------------- */
.nav-menu {
  position: absolute;
  top: 50px;
  width: 100vw;
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-menu.active {
  height: auto;
}
.nav-menu li {
  width:100vw;
}
.nav-menu li a {
  display: block;
  width: 100vw;
  height: 15vh;
  padding: 0;
  font-size: 5vw;
  text-align: center;
  text-decoration: none;
  line-height: 15vh;
  color: #454140FF;
  border-bottom: 1px solid rgba(69,65,64,.2);
}
.nav-menu li:nth-child(1) a {
  background-color: rgba(240,240,240,1);
  border-top: 1px solid rgba(69,65,64,.2);
}
.nav-menu li:nth-child(2) a {
  background-color: rgba(197,213,197,1);
}
.nav-menu li:nth-child(3) a {
  background-color: rgba(159,169,163,1);
}
.nav-menu li:nth-child(4) a {
  background-color: rgba(227,224,204,1);
}
.nav-menu li:nth-child(5) a {
  background-color: rgba(178,194,191,1);
}
.nav-menu li a:hover, .nav-menu li a:focus {
  color: #ffffff;
  font-weight: 700;
  background-color: #c83349;
}
.nav-menu li a:focus {
  outline: none;
}
.nav-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background-color: rgba(255,255,255,.81);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-overlay.active {
  visibility: visible;
  opacity: 1;
}

/* --------------------------------------------------
Icon Bars Animation
-------------------------------------------------- */
.nav-toggle.active .icon-bar:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2) {
  width: 0;
}
.nav-toggle.active .icon-bar:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* --------------------------------------------------
Navigation Large Screen View
-------------------------------------------------- */
@media screen and (min-width:768px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
  }
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    margin-right: 20px;
  }
  .nav-menu, .nav-menu li {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: auto;
    height: 50px;
  }
  .nav-menu li a {
    display: inline-block;
    color: #555555 !important;
    font-size: 1.5vw;
    text-align: center;
    height: 50px;
    width: auto;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    border-right: 1px solid rgba(69,65,64,.2);
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-menu li:last-child a {
    border-right: none;
  }
  .nav-menu li a:hover {
    color: #ffffff !important;
  }
  .nav-overlay, .nav-overlay.active {
    display: none;
  }
}

/*--------------------------------------------------
# Top Banner
--------------------------------------------------*/
.banner {
  position: relative;
  margin-top: 50px;
  height: 80vh;
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 15px 10px -10px #777;
}
#bannerBcg-1 {
  background-image: url("../img/banner.jpg");
}
.bnContainer {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,.3), rgba(0,0,0,.8));
}
.bnContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5%;
  bottom: 5%;
  text-align: left;
  width: 100%;
}
#shumei-zing {
  color: #ffffff;
  font-family: "Shadows Into Light", cursive;
  font-size: 12vw;
  font-weight: 900;
  font-variant: small-caps;
  text-shadow: 2px 2px 4px #2b2626;
}
#welcomeMsg {
  color: #ffffff;
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 7vw;
  font-variant: normal;
  font-weight: 600;
  text-shadow: 2px 2px 4px #2b2626;
}
@media screen and (min-width:768px) {
  #shumei-zing {
    font-size: 10vw;
  }
  #welcomeMsg {
    font-size: 5vw;
  }
}

/*--------------------------------------------------
# Main
--------------------------------------------------*/
.mainContent {
  margin-top: 6vh;
}

/*--------------------------------------------------
# About
--------------------------------------------------*/
.flexDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.divLeft, .divRight {
  padding: 2% 10%;
}
.divLeft > img {
  display: flex;
  max-width: 100%;
  min-width: 308px;
  box-shadow: 15px 15px 10px -10px #777;
}
.divRight > div > h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .flexDiv {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    margin: 0 5%;
  }
  .divLeft, .divRight {
    padding: 2%;
  }
}

/*--------------------------------------------------
# Credentials
--------------------------------------------------*/
.flexDivColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.flexDivColumn li {
  list-style-type: none;
}




