html {
  font-size: 110%;
	background-color: rgba(239,239,248,.8);
}

body {
  background-color: #fff;
  color: #0B0D40;
  padding: 1%;
  margin: 1%;
  font-family: OpenSans, sans-serif;
}

header {
	height: 60vh;
	width: auto;
	background-color: #ffffff;
	background-image: url("../img/main.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	padding: 2%;
	box-sizing: border-box;
  background-attachment: scroll;
  background-position: 50% 50%;
/*  background-origin: content-box;*/
  background-size: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

header h1 {
	color: #fff;
	text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  background-color: transparent;
}

.flex-container > div {
  color: #222222;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.3);
  padding: 1%;
  margin: 1%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

nav div:hover {
	color: #ed4e33;
    background: #ffffff;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 5%;
  left: 2%;
  background-color: yellow;
  color: gray;
  padding: 0 2%;
}

.featurette {
	position: relative;
}