/***************************************************
# General
***************************************************/
html,
body {
  color: #2b2626;
  font: 16px;
  font-family: "Lato", "Noto Sans", Roboto, sans-serif;
  background-color: #ffffff;
}
h1 {
  font-size: 3rem;
  letter-spacing: 4px;
}
h2 {
  font-size: 2.6rem;
  letter-spacing: 3px;
}
h3 {
  font-size: 2.2rem;
  letter-spacing: 2px;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size:1.5rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1.2rem;
  line-height: 2;
  margin: 1em 0;
}
main a:link, main a:visited {
  color: #0086e6;
}
.nav-logo a:hover, .nav-logo a:focus, .nav-logo a:active {
  text-decoration: underline;
  text-decoration-color: #FF8400;
}
main a:hover:after, main a:focus:after, main a:active:after {
  content: "\f0c1";
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  padding-left: 5px;
}

/***************************************************
# Navigation Initial Mobile View
***************************************************/
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation {
  display: flex;
  position: fixed;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(69,65,64,.2);
  z-index: 2;
}
.nav-logo {
  color: #555555;
  font-size: 32px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-transform: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background-color: transparent;
}
.nav-logo a {
  text-decoration: none;
}
#shumei {
  color: #555555;
}
#wiggins {
  color: #FF8400;
}
.nav-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 46px;
  background-color: transparent;
  cursor: pointer;
}
.icon-bar {
  display: block;
  position: absolute;
  right: 12px;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.icon-bar:nth-child(1) {
  top: 17px;
  background-color: #86af49;
}
.icon-bar:nth-child(2) {
  top: 25px;
  background-color: #ffa500;
}
.icon-bar:nth-child(3) {
  top: 33px;
  background-color: #c83349;
}

/***************************************************
# Navigation Menu Toggle
***************************************************/
.nav-menu {
  position: absolute;
  top: 50px;
  width: 100vw;
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-menu.active {
  height: auto;
}
.nav-menu li {
  width:100vw;
}
.nav-menu li a {
  display: block;
  width: 100vw;
  height: 15vh;
  padding: 0;
  font-size: 5vw;
  text-align: center;
  text-decoration: none;
  line-height: 15vh;
  color: #454140FF;
  border-bottom: 1px solid rgba(69,65,64,.2);
}
.nav-menu li:nth-child(1) a {
  background-color: rgba(240,240,240,1);
  border-top: 1px solid rgba(69,65,64,.2);
}
.nav-menu li:nth-child(2) a {
  background-color: rgba(197,213,197,1);
}
.nav-menu li:nth-child(3) a {
  background-color: rgba(159,169,163,1);
}
.nav-menu li:nth-child(4) a {
  background-color: rgba(227,224,204,1);
}
.nav-menu li:nth-child(5) a {
  background-color: rgba(178,194,191,1);
}
.nav-menu li a:hover, .nav-menu li a:focus {
  color: #ffffff;
  font-weight: 700;
  background-color: #c83349;
}
.nav-menu li a:focus {
  outline: none;
}
.nav-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,.8);
  z-index: 1;
  opacity: .3;
  visibility: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-overlay.active {
  visibility: visible;
  opacity: 1;
}

/***************************************************
# Icon Bars Animation
***************************************************/
.nav-toggle.active .icon-bar:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2) {
  width: 0;
}
.nav-toggle.active .icon-bar:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/***************************************************
# Navigation Large Screen View
***************************************************/
@media screen and (min-width:768px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
  }
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    margin-right: 20px;
  }
  .nav-menu, .nav-menu li {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: auto;
    height: 50px;
  }
  .nav-menu li a {
    display: inline-block;
    color: #555555 !important;
    font-size: 1.5vw;
    text-align: center;
    height: 50px;
    width: auto;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    border-right: 1px solid rgba(69,65,64,.2);
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-menu li:last-child a {
    border-right: none;
  }
  .nav-menu li a:hover, .nav-menu li a:focus, .nav-menu li a:active {
    color: #ffffff !important;
  }
  .nav-overlay, .nav-overlay.active {
    display: none;
  }
}

/***************************************************
# Top Banner
***************************************************/
.bannerTop {
  position: relative;
  margin-top: 50px;
  height: 80vh;
  background-color: #ffffff;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 15px 10px -10px #777;
  background-image: url("../img/bannerTop.jpg");
}
.bnContainer {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, rgba(255,255,255,.5), rgba(255,255,255,.1));
}
.bnContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5%;
  bottom: 5%;
  text-align: left;
  width: 100%;
  font-family: "Swanky and Moo Moo", cursive;
  text-shadow: 2px 2px 4px #2b2626;
}
#shumei-zing {
  font-family: "Shadows Into Light", cursive;
  font-size: 12vw;
  font-weight: 900;
  font-variant: small-caps;
}
#welcomeMsg {
  font-size: 7vw;
  font-variant: normal;
  font-weight: 600;
  letter-spacing: 2px;
}
@media screen and (min-width:768px) {
  #shumei-zing {
    font-size: 10vw;
  }
  #welcomeMsg {
    font-size: 5vw;
  }
}

/***************************************************
# Main
***************************************************/
.mainContent {
  margin-top: 6vh;
}

/***************************************************
# About
***************************************************/
.flexDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#about {
  padding-top: 5%;
}
.divLeft, .divRight {
  padding: 2% 10%;
}
.divLeft > img {
  display: flex;
  max-width: 100%;
  min-width: 308px;
  box-shadow: 15px 15px 10px -10px #777;
}
@media screen and (min-width: 768px) {
  .flexDiv {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    margin: 0 5vw;
  }
  #about {
    padding-top: 5%;
  }
  .divLeft, .divRight {
    padding: 2%;
  }
}

/***************************************************
# Specialities
***************************************************/
.boxWrapper {
  position: relative;
  margin: 0 3%;  
}
.sectionTitle {
  color: orange;
  font-size: 2rem;
  letter-spacing: .5rem;
/*  text-decoration: underline;*/
/*  text-decoration-color: orange;*/
  margin: 0 0 2% 5%;
  font-weight: 900;
}
.sectionTitle::after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: green;
  display: block;
  margin: 1vh 0;
}

@media screen and (min-width: 768px) {
  .boxWrapper h2 {
    margin: 0 2% 2%; 
    text-align: center;
  }
  .sectionTitle::after {
    content: "";
    width: 10vw;
    height: 5px;
    background-color: green;
    display: block;
    margin: 1vh auto;
  }
}
.boxOuter {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin: 0 5%;
}
.boxInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 40vh;
  background-color: transparent;
  margin: 1%;
}
.boxImg {
  width: 80vw;
  height: 35vh;
  background-position: 50%;
  background-size: cover;
  background-color: transparent;
  box-shadow: 15px 15px 10px -10px #777;
}
#boxImg-1 {
  background-image: url("../img/boximg-1.jpg");
}
#boxImg-2 {
  background-image: url("../img/boximg-2.jpg");
}
#boxImg-3 {
  background-image: url("../img/boximg-3.jpg");
}
#boxImg-4 {
  background-image: url("../img/boximg-4.jpg");
}
.boxList h4 {
  font-size: calc(12px + 1.6vw);
  padding-top: 10%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .boxOuter {
    flex-direction: row;
    align-items: flex-start;
  }
  .boxImg {
    width: 20vw;
    height: 25vh;
  }
  .boxList h4 {
    font-size: calc(12px + 1.2vw);
    padding-top: 5%;
    text-align: center;
  }
}

/***************************************************
# Credentials
***************************************************/
.textWrapper {
  align-items: flex-start; 
  margin: 3%;
}
.reverse {
  color: orange;
  text-decoration-color: gray;
  font-weight: 600;
}
.textWrapper .boxOuter, .textWrapper .boxOuter .boxInner {
  align-items: flex-start; 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.textWrapper .boxOuter .boxInner {
  padding: 0 3%;
}
.listHead {
  font-size: 1.2rem;
  padding-left: 2%;
}
@media screen and (min-width:768px) {
  .listHead {
    padding-left: 0; 
  }
}
.listItem li {
  text-align: left;
  margin: .5em 0 .5em 2em;
  font-style: italic;
  position: relative;
}
.listItem li:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
  left: -9px;
  top: 0;
  background: #2b2626;

/*
  content: "\f0da";
  font-family: "FontAwesome";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 1rem;
  margin-right: 5px;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;*/
}

/***************************************************
# Banners Between
***************************************************/
.bannerBetween {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  height: 50vh;
  background-color: #fff;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 15px 10px -10px #777;
}
#bannerBcg-1 {
  background-image: url("../img/banner-1.jpg");
}
#bannerBcg-2 {
  background-image: url("../img/banner-2.jpg");
}
#bannerBcg-3 {
  background-image: url("../img/banner-3.jpg");
  background-position: 50%;
}
.bnbContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,.3), rgba(0,0,0,.8));
}
.bnbContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  color: #fff;
  line-height: 9vh;
  font-weight: 900;
  text-shadow: 2px 2px 4px #2b2626;
}
#healthyFeet {
  font-family: "IM Fell Great Primer", cursive;
  font-size: calc(12px + 3vw);
}
@media screen and (min-width:768px) {
  .bnbContent {
    width: 80%;
  }
}

/***************************************************
# Service
***************************************************/
table, thead, tbody, tr, th, td {
  border: 1px solid gray;
  margin: 3%; 
}

/***************************************************
# Safety Measures
***************************************************/
#safety .listItem li {
  font-size: 1.2rem;
  line-height: 2;
  font-style: normal;
}
#safety .listItem li:hover {
  font-weight: 700;
}
#safety .listItem li:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
  left: -9px;
  top: 0;
  background: #2b2626;
}

/***************************************************
# Policies
***************************************************/
#policies summary {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 700;
}
#policies summary:hover, #policies summary:focus, #policies summary:active {
  cursor: pointer;
  color: orange;
}
#policies p {
  font-size: 1.2rem;
  line-height: 1.6;
  padding-left: 3%;
}
#policies strong {
  font-weight: 700;
}